*.DS_Store
*.generated
.idea

/site/public/
/site/resources/

build/cartographer
cmd/random
coverage.*

kubeconfig
/release
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/launch.json
.vscode/settings.json
.vscode/targets.log
examples/asa/temp/*
examples/asa/temp/zhiyongli/temp.yaml
examples/asa/pressure-test/temp/*